:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



/* Slider cart */



.slider-cart {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 400px;
  background-color: #171717;
  z-index: 99;
  transform:translateX(100%);
  transition: all 0.5s ease;
  will-change: transform;
}

.slider-cart.show {
  transform:translateX(0%);

}
.slider-cart.hide {
  transform:translateX(100%);
  pointer-events: none;
}

.default-cart-item-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}